@import '../colors';
@import '../buttons';


.mat-select{
    margin: 30px auto;
    min-width: 170px;
    text-align: left;
}

.criteria{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.criteria-container{
    background: $light;
    padding: 40px;
    width: 45%;
    background-color: white;
    text-align: center;
}

.mat-primary .mat-option.mat-selected{
    color: blue;
}