<section class="criteria">
  <div class="criteria-container">
    <div class="title">
      <h1>Wybierz</h1>
      <h5>branżę i region w który chcesz inwestować</h5>
    </div>
    <div class="criteria-row">
      <md-select placeholder="Branża" color="blue">
        <md-option ng-selected="index == 1" *ngFor="let trade of trades" [value]="trade.value">
          {{ trade.name }}
        </md-option>
      </md-select>
    </div>

    <div class="criteria-row">
      <md-select placeholder="Województwo" color="blue">
        <md-option *ngFor="let food of areas" [value]="food.value">
          {{ food.name }}
        </md-option>
      </md-select>
    </div>

    <div class="criteria-row">
      <md-select placeholder="Miasto" color="blue">
        <md-option *ngFor="let food of citi" [value]="food.value">
          {{ food.name }}
        </md-option>
      </md-select>
    </div>

    <div class="button-container">
      <div [routerLink]="['/borrowers-list']" class="button button-next">
        Dalej ›
      </div>
    </div>

  </div>
</section>
