@import '../colors';
@import '../buttons';

.title {
  text-align: left;
  padding: 0 0 0 20px;
}
.mat-select{
    margin: 30px auto;
    width: 80%;
    text-align: left;
}

.criteria{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.criteria-container{
    background: $light;
    padding: 40px;
    width: 55%;
    background-color: white;
    text-align: center;
}
