<section class="criteria">
  <div class="criteria-container">

    <div class="criteria-row">
      <md-select placeholder="Branża">
        <md-option ng-selected="index == 1" *ngFor="let trade of trades" [value]="trade.value">
          {{ trade.name }}
        </md-option>
      </md-select>
    </div>

    <div class="criteria-row">
      <md-select placeholder="Województwo">
        <md-option *ngFor="let food of areas" [value]="food.value">
          {{ food.name }}
        </md-option>
      </md-select>
    </div>

    <div class="criteria-row">
      <md-select placeholder="Miasto">
        <md-option *ngFor="let food of citi" [value]="food.value">
          {{ food.name }}
        </md-option>
      </md-select>
    </div>

    <div class="button-container">
      <div class="button button-next">
       Dalej ›
      </div>
    </div>

  </div>
</section>
