
  <div class="borrowers-list">

  <div class="container">
    <div class="container-flex">
      <h2>Wszystkie projekty</h2>

      <div class="criteria-row">
        <md-select placeholder="Ocena wiarygodności">
          <md-option *ngFor="let food of areas" [value]="food.value">
            {{ food.name }}
          </md-option>
        </md-select>
      </div>
    </div>


  <article class="box" *ngFor="let note of users" [routerLink]="[note.id]">
      <div class="box__image">
        <img src="{{note.avatarSrc}}" alt="">
      </div>
      <div class="box__info">
         <div class="name">{{note.name}}</div>
         <div class="description">{{note.description}}</div>
         <div class="box__footer">
           <i class="material-icons">location_on</i>
           <div class="area">{{note.area}}
            </div>
           <i class="material-icons">domain</i>
           <div class="buisnesArea">{{note.buisnesArea}}
            </div>
            <div class="tranche">{{note.tranche}}</div>
           <div class="price">{{note.price}} zł
            </div>
         </div>
      </div>
  </article>
  </div>
   </div>
