 $main: #0095ff; 
 $light: rgba(255, 255, 255, 0.6);


.box{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 300px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    &:hover{
        background: $light;
    }
}

.box__image{
    width: 43%;
    display: inline-block;
    vertical-align: top;
    img{
        width: 100%;
    }
}

.box__info{
    width: 54%;
    display: inline-block;
    margin-left: 10px;
}

.buisnesArea, .tranche{
    display: inline-block;
}

.box__footer{
    display: flex;
    justify-content: space-around;
}

.name{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}