@import '../colors';
@import '../buttons';
.criteria{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.criteria-container{
  background: $light;
  padding: 40px;
  width: 55%;
  background-color: white;
  text-align: center;
}
.csr {
  background: url('../../assets/images/csr.svg');
}
