/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'app/colors';

.mat-option.mat-selected.mat-primary, .mat-primary .mat-option.mat-selected {
  color: #57bbc2 !important
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow, .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: #57bbc2 !important
}

*{
  transition: 200ms ease;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
}

html {
    font-family: 'Lato', sans-serif;
    background: url('/assets/images/pattern-green.svg');
    background-size: cover;
    height: 100%;
    color: #4f4f4f;

}
body{
    padding: 0;
    margin: 0;
}
a, a:visited{
    text-decoration: none;
    color: inherit;
}
.active .mat-select-trigger{
    color: $main !important;
    font-weight: 700;
}


.material-icons{
     vertical-align: sub;

}

.mat-ink-bar{
  background-color: $main;
}