/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

  .box {
        background: lightblue;
        border: 1px solid #333;
        padding: 1em;
        margin: 1em;
      }
      
      .root { background: lightblue; }
      
      .child {
        background: #628692;
      }
      
      button {
          margin-top: 30px;
      }
      
      app-first-screen div {
        padding : 25px;
        background-color: #fdda8d;
      }
      
      app-first-screen {
        background-color: #8a2be2;
        width: 100%;
        display: block;
        overflow: hidden;        
      }
      .copyright {
        color:#bebebe; 
        padding-top:40px;
      }      
      