/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
  transition: 200ms ease;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
}

html {
    font-family: 'Lato', sans-serif;
    background: url('/assets/images/pattern.svg');
    height: 100%;

}

a, a:visited{
    text-decoration: none;
    color: inherit;
}

